In [358]:
import pandas as pd

from sklearn.metrics.pairwise import cosine_similarity

In [359]:
farm_data = pd.read_csv('data/farm.csv')
farm_data.head()

   id   createdAt   updatedAt   name  userId  crop0  crop1  crop2  crop3
0   0  2024-02-08  2024-02-08  wydgt       0      0      1      3      4
1   1  2024-02-08  2024-02-08  gyutq       1      3      3      0      5
2   2  2024-02-08  2024-02-08  ybmoo       2      5      1      1      1
3   3  2024-02-08  2024-02-08  jxprh       3      1      4      4      1
4   4  2024-02-08  2024-02-08  bxjky       4      3      3      2      5

In [360]:
farm_data = farm_data[['crop0', 'crop1', 'crop2', 'crop3']]
farm_data = farm_data.apply(lambda row: sorted(row), axis=1)
farm_data = pd.DataFrame(list(farm_data), columns=['crop0', 'crop1', 'crop2', 'crop3'])
farm_data.insert(0, 'userId', farm_data.index)
farm_data.head()

   userId  crop0  crop1  crop2  crop3
0       0      0      1      3      4
1       1      0      3      3      5
2       2      1      1      1      5
3       3      1      1      4      4
4       4      2      3      3      5

In [361]:
cosine_sim = cosine_similarity(farm_data)
sim_df = pd.DataFrame(data=cosine_sim, index=farm_data.index, columns=farm_data.index)
sim_df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1.000000,0.946100,0.832050,0.867315,0.790666,0.761042,0.693375,0.386270,0.638674,0.614510,...,0.164203,0.150970,0.069863,0.135548,0.154025,0.103981,0.114304,0.099538,0.121652,0.063826
1,0.946100,1.000000,0.879453,0.873621,0.892691,0.877527,0.781736,0.514675,0.736429,0.682323,...,0.308135,0.304636,0.218398,0.277858,0.304457,0.256445,0.263599,0.248675,0.264958,0.211585
2,0.832050,0.879453,1.000000,0.862662,0.913143,0.878930,0.791667,0.626722,0.795810,0.753935,...,0.491918,0.489047,0.407232,0.468363,0.476011,0.445204,0.450290,0.452350,0.456899,0.424296
3,0.867315,0.873621,0.862662,1.000000,0.941438,0.924658,0.934551,0.760914,0.905616,0.902584,...,0.600863,0.586967,0.517902,0.569168,0.585157,0.542401,0.556337,0.535350,0.558115,0.505609
4,0.790666,0.892691,0.913143,0.941438,1.000000,0.962533,0.920566,0.777524,0.905061,0.866303,...,0.642229,0.639500,0.559522,0.606646,0.627615,0.590058,0.601045,0.583496,0.596554,0.553535
5,0.761042,0.877527,0.878930,0.924658,0.962533,1.000000,0.971825,0.859855,0.964074,0.928841,...,0.725674,0.723478,0.659518,0.704053,0.723832,0.688506,0.693708,0.682168,0.694561,0.653662
6,0.693375,0.781736,0.791667,0.934551,0.920566,0.971825,1.000000,0.928477,0.993352,0.984732,...,0.812609,0.805156,0.755689,0.792823,0.809218,0.775852,0.783555,0.767624,0.784647,0.743117
7,0.386270,0.514675,0.626722,0.760914,0.777524,0.859855,0.928477,1.000000,0.955843,0.960016,...,0.970056,0.966575,0.944875,0.961995,0.969376,0.954357,0.958049,0.949678,0.958397,0.937464
8,0.638674,0.736429,0.795810,0.905616,0.905061,0.964074,0.993352,0.955843,1.000000,0.992080,...,0.860933,0.854848,0.809809,0.845172,0.857571,0.829472,0.835321,0.824414,0.837745,0.802686
9,0.614510,0.682323,0.753935,0.902584,0.866303,0.928841,0.984732,0.960016,0.992080,1.000000,...,0.872363,0.862657,0.824768,0.858255,0.867174,0.840279,0.847373,0.835666,0.851254,0.816161

In [362]:
userId = 0
sim_df[userId].sort_values(ascending=False)[1:10]

1     0.946100
3     0.867315
2     0.832050
4     0.790666
5     0.761042
6     0.693375
8     0.638674
9     0.614510
12    0.491546
Name: 0, dtype: float64

In [363]:
sim_user = []
sim_user.extend(sim_df[userId].sort_values(ascending=False)[1:11].index)
print(sim_user)

[1, 3, 2, 4, 5, 6, 8, 9, 12, 14]

In [364]:
print('target userId:', userId)
target_crop_set = set(farm_data.loc[farm_data['userId'] == userId, ['crop0', 'crop1', 'crop2', 'crop3']].values.flatten())
print(target_crop_set)
print('==============================')
for i in sim_user:
	print('userId:', i)
	crop_set = set(farm_data.loc[farm_data['userId'] == i, ['crop0', 'crop1', 'crop2', 'crop3']].values.flatten())
	print(crop_set)

target userId: 0
{0, 1, 3, 4}
==============================
userId: 1
{0, 3, 5}
userId: 3
{1, 4}
userId: 2
{1, 5}
userId: 4
{2, 3, 5}
userId: 5
{0, 3, 5}
userId: 6
{0, 2, 4}
userId: 8
{0, 2, 4, 5}
userId: 9
{0, 1, 5}
userId: 12
{1, 3, 4, 5}
userId: 14
{2, 4, 5}

In [365]:
target_crop_set = set(farm_data.loc[farm_data['userId'] == userId, ['crop0', 'crop1', 'crop2', 'crop3']].values.flatten())
crop_set = set(farm_data.loc[farm_data['userId'] == sim_user[0], ['crop0', 'crop1', 'crop2', 'crop3']].values.flatten())

non_duplicated_crop = crop_set - target_crop_set
print("Non-duplicated numbers in crop_set:", non_duplicated_crop)

crop_list = ['nothing','potato', 'tomato', 'pepper', 'corn', 'grape']
print('suggested crop:', crop_list[non_duplicated_crop.pop()])

Non-duplicated numbers in crop_set: {5}
suggested crop: grape